
<div class="header">
    <img class="logo" src="assets/logo.png" alt="Logo" alt="logo" height="40" width="40"/>
    <a routerLink="/">Home</a>

    <!-- NOTE - Deleting this will collapse the header  -->
    <div class="header-links"> 

    </div>

    <div class="header-dropdown">
        <button (click)="toggleDropdown()" class="header-dropdown-button">
            <mat-icon class="dropdown-icon">account_circle</mat-icon>
        </button>
        
        <!-- <img src="assets/menu.svg" alt="" (click)="toggleDropdown()" width="60" height="60"/> -->

        <nav class="dropdown" *ngIf="dropdownOpen()">
            <a routerLink="/profile" routerLinkActive="active">Profile</a><br>
            
            <a routerLink="/settings">Settings</a><br>
            <a routerLink="/login" *ngIf="!isLoggedIn">Login</a><br *ngIf="!isLoggedIn">
            <a routerLink="/logout" *ngIf="isLoggedIn">Logout</a><br *ngIf="isLoggedIn">
        </nav>
    </div>

</div>