<div class="calendar-day">
    <span class="calendar-day_date" [id]="'calendar-day_date_' + date.getDate()" [ngClass]="{ 'calendar-day_current' : date.toDateString() == today.toDateString() }">
        <!-- Date will be passed by the parent component -->
        {{ date.getDate() }}/{{ date.getMonth() + 1 }}
    </span>


    <div class="calendar-day_events" *ngIf="events.length > 0">
        <button
            class="calendar-day_event"
            (click)="onEventSelected(events[0])"
        >
            <p class="calendar-day_event_time">
                <ng-container *ngIf="events[0].EventStart.getDate() == date.getDate()">
                {{ events[0].EventStart.getHours() }}:{{ events[0].EventStart.getMinutes() < 10 ? '0' : '' }}{{ events[0].EventStart.getMinutes() }}
                </ng-container>
                <ng-container *ngIf="events[0].EventStart.getDate() != date.getDate()">
                00:00
                </ng-container>
                -
                <ng-container *ngIf="events[0].EventEnd.getDate() == date.getDate()">
                {{ events[0].EventEnd.getHours() }}:{{ events[0].EventEnd.getMinutes() < 10 ? '0' : '' }}{{ events[0].EventEnd.getMinutes() }}
                </ng-container>
                <ng-container *ngIf="events[0].EventEnd.getDate() != date.getDate()">
                23:59
                </ng-container>
            </p>   
            <p class="calendar-day_event_title">
                {{ events[0].EventTitle }}
            </p>
            
        </button>
        <button class="calendar-day_event_more" *ngIf="events.length > 1" (click)="showMoreEvents()">
            <p class="calendar-day_event_time">
                {{ events.length - 1 }} more
            </p>
        </button>
    </div>
    <app-event-modal
        *ngIf="isModalOpen()"
        [event]="selectedEvent()"
        [close]="closeEventModalEmitter">
    </app-event-modal>
    <app-more-events-modal
        *ngIf="moreEventsModalOpen()"
        [events]="events"
        [close]="closeMoreEventsModalEmitter"
        [openEvent]="openEventEmitter"
    >

    </app-more-events-modal>
</div>